@import "normalize";
@import "variables";
@import "fancybox";


.overflowHidden {
  overflow: hidden;
} 

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fbfcff;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1172px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 1;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 23px;
}

.header__logo {
  display: block;
  width: 166px;
  margin-right: 125px;
}

.header__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.header__menu-list {
  display: flex;
}

.header__menu-list li {
  padding-right: 28px;

  &:last-child {
    padding-right: 0;
  }
}

.header__menu-list a {
  display: block;
  padding-left: 10px;
  padding-right: 12px;
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  transition: ease 0.3s;

  &:hover {
    transition: ease 0.3s;
    background-color: #f3aa55;
    color: #fff;
  }
}

.intro {
  z-index: 2;
}

.intro .container {
  padding-top: 146px;
  padding-bottom: 195px;
}

.intro__content {
  position: relative;
  max-width: 555px;
  width: 100%;
  z-index: 2;
}

.intro__title {
  font-size: 24px;
  line-height: 36px;
  color: #051536;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
}

.intro__content p {
  max-width: 427px;
  text-align: justify;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #1d1d1d;
  padding-bottom: 22px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.btn-main {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  max-width: 180px;
  width: 100%;
  font-weight: 500;
  padding-top: 2px;
  line-height: 48px;
  background-color: #f49a32;
  transition: ease 0.3s;

  &:hover {
    background-color: #1d1d1d;
    transition: ease 0.3s;
  }
}

.intro__content .btn-main {
  text-transform: uppercase;
  margin-top: 68px;
}

.intro__big-image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1059px;
  width: 100%;
  overflow: hidden;
}

.intro__big-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.quote {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/triangle.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 862px;
    width: 100%;
    height: 1094px;
    left: 0;
    top: -120px;
    z-index: -1;
    pointer-events: none;
  }
}

.quote .container {
  padding-bottom: 47px;
}

.title-main {
  text-align: center;
}

.title-main h2 {
  font-size: 30px;
  line-height: 36px;
  color: #051536;
  font-weight: 500;
  padding-bottom: 15px;
}

.title-main p {
  font-size: 14px;
  line-height: 24px;
  color: #1d1d1d;
}

.quote__form-content {
  position: relative;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 62px;
  z-index: 2;
  box-shadow: 0px 2px 32.9px 2.1px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

.quote__form-title-img {
  display: block;
  width: 166px;
  height: auto;
  margin: 0 auto;
}

.quote__form {
  max-width: 418px;
  width: 100%;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 43px;
}

.quote__form-title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 29px;
  padding-bottom: 35px;
}

.quote__field-title {
  display: block;
  font-size: 14px;
  color: #000000;
  padding-bottom: 9px;
}

.quote__field-inputs {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  height: 50px;
}

.quote__field-item {
  position: relative;
  margin-bottom: 37px;

  &:last-of-type {
    margin-bottom: 50px;
  }
}

.quote__field-input {
  
  text-align: center;
}

.quote__label {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 3px;
  line-height: 45px;
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  z-index: 2;
}

.row-3 .quote__field-input {
  width: 33.333%;
}

.row-4 .quote__field-input {
  width: 25%;
}

.row-5 .quote__field-input {
  width: 20%;
}

.quote__field-input input[type=radio] {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0
}

.quote__field-input input[type=radio]:checked ~ .quote__label {
  background-color: #f49a32;
}

.quote__form .btn-main {
  margin: 0 auto;
}

.quote label.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 1px solid red;
  pointer-events: none;
}

.quote label.error::before {
  content: "";
  position: absolute;
  background-image: url("../img/round-error.svg");
  top: 18px;
  left: 445px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.quote__input-info {
  position: relative;
  width: 100%;
}

.quote__input-info input {
  width: 100%;
  font-size: 14px;
  padding-left: 24px;
  padding-right: 24px;
  color: #000000;
  height: 50px;
  border: 1px solid rgb(230, 230, 230);
}

.quote__input-info input::placeholder {
  opacity: 1;
  color: #000;
}

.help {
  position: relative;
  min-height: 792px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/help-bg-2.jpeg");
    height: 792px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    background-attachment: fixed;
  }
}

.help .container {
  position: relative;
  z-index: 1;
  padding-top: 36px;
}

.help .title-main h2 {
  color: #ffffff;
}

.help .title-main {
  padding-bottom: 66px;
}

.help .title-main p {
  color: #ffffff;
}

.help__content {
  background-color: #fff;
}

.help__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 842px;
  width: 100%;
  padding-top: 42px;
  margin: 0 auto;
}

.help__item {
  max-width: 405px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 12px;

  &:nth-child(even) {
    margin-right: 0;
  }
}

.help__item:nth-child(even) .help__item-btn {
  letter-spacing: -0.01em;
}

.help__item-btn {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 17px;
  font-size: 14px;
  color: #181818;
  width: 100%;
  line-height: 50px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/chevron.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    top: 17px;
    right: 14px;
    transition: ease 0.3s;
    will-change: transform;
  }
}

.help__item-btn.open::before {
  transition: ease 0.3s;
  transform: rotate(90deg);
  will-change: transform;
}

.help__item-tab {
  display: none;
  background-color: #f5f5f5;
  padding-left: 18px;
  padding-right: 18px;
  border-bottom: 1px solid #e3e3e3;
}

.help__item-tab-wrap {
  padding-top: 12px;
  padding-bottom: 22px;
}

.help__item-tab p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #181818;
  padding-bottom: 15px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.help__item-tab p + ul {
  padding-top: 15px;
}

.help__item-tab p + ol {
  padding-top: 15px;
}

.help__item-tab ul {
  list-style-type: disc;
  padding-left: 15px;
}

.help__item-tab ul li {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #181818;
  padding-bottom: 10px;

  &:last-child {
    padding-bottom: 0;
  }
}

.help__item-tab ol {
  padding-left: 15px;
  margin: 0;
}

.help__item-tab ol li {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #181818;
  padding-bottom: 10px;

  &:last-child {
    padding-bottom: 0;
  }
}

.help__content {
  box-shadow: 0px 2px 32.9px 2.1px rgba(0, 0, 0, 0.07);
}

.help__form-wrap {
  max-width: 556px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 35px;
  padding-top: 8px;
}

.help__form-wrap h3 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 300;
  padding-bottom: 21px;
}

.help__input {
  position: relative;
  margin-bottom: 24px;
}

.help__input label.error {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 1px solid red;
  pointer-events: none;
}

.help__input label.error::before {
  content: "";
  position: absolute;
  background-image: url("../img/round-error.svg");
  top: 18px;
  right: -39px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.help__input input {
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #000000;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid rgb(230, 230, 230);
}

.help__input input::placeholder {
  opacity: 1;
  color: #000;
}

.help__textarea {
  position: relative;
  padding-bottom: 24px;
}

.help__textarea textarea {
  width: 100%;
  font-size: 14px;
  color: #000000;
  font-style: italic;
  resize: none;
  height: 90px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  border: 1px solid rgb(230, 230, 230);
  outline: none;
}

.help__textarea label.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 0;
  border: 1px solid red;
  pointer-events: none;
}

.help__textarea label.error::before {
  content: "";
  position: absolute;
  background-image: url("../img/round-error.svg");
  top: 36px;
  right: -39px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.help__textarea textarea::placeholder {
  opacity: 1;
  color: #000;
}

.help__form .btn-main {
  margin: 0 auto;
}

.footer .container {
  padding-top: 47px;
  padding-bottom: 57px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 97px;
}

.footer__logo {
  display: block;
  width: 209px;
}

.footer__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.footer__menu {
  margin-left: -35px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.footer__menu-list li {
  padding-bottom: 28px;

  &:last-child {
    padding-bottom: 0;
  }
}

.footer__menu-list a {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  transition: ease 0.3s;
  text-transform: uppercase;

  &:hover {
    transition: ease 0.3s;
    color: #f49a32;
  }
}

.footer__info {
  text-align: right;
}

.footer__info strong {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 700;
}

.footer__info p {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
  color: #323232;
  font-weight: 300;
}

.text-send {
  color: green;
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
}

.intro-block {
  position: relative;
  overflow: hidden;
}

.burger-content {
  display: none;
}

.mobile-menu-close {
  display: none;
}

.intro__play-content {
  position: absolute;
  left: 55%;
  transform: translate(-50%, -50%);
  top: 46%;
}

.intro__play-content span {
  display: block;
  font-size: 30px;
  font-weight: 500;
  color: #f49a32;
  margin-left: -15px;
  padding-top: 5px;
}

.intro__play {
  display: block;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  transition: ease 0.3s;
  will-change: transform;

  &:hover {
    transition: ease 0.3s;
    opacity: 0.7;
    will-change: transform;
  }
}

.intro__video-content-mobile {
  display: none;
}

.popup {
  display: none;
  padding: 60px 15px;
  padding-bottom: 30px;
  text-align: center;
  max-width: 620px;
  width: 100%;
}

#sticker {
  background-color: rgba(251, 252, 255,0.8);
  z-index: 20;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(251, 252, 255,0.95);
    z-index: 20;
    box-shadow: 0px 7px 10px 0px rgba(166, 189, 209, 0.14);
}

.header__logo img.fixed-logo {
  display: none;
}

.header.fixed .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header.fixed .header__logo img {
  display: none;
}

.header.fixed .header__logo img.fixed-logo {
  display: block;
}

.header.fixed .header__logo {
  width: 211px;
}

.header__menu-list a.active {
  background-color: #f3aa55;
  color: #fff;
}

.popup strong {
  display: block;
  padding-bottom: 2px;
  font-size: 36px;
  color: #051536;
  font-weight: 500;
  text-transform: uppercase;
}

.popup-logo {
  display: block;
  margin-bottom: 22px;
}

.popup p {
  font-size: 18px;
  color: #051536;
}

.popup-close-btn {
  max-width: 140px;
  display: block;
  width: 100%;
  font-size: 14px;
  height: 50px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background-color: #f49a32;
  transition: ease 0.3s;
  margin-top: 60px;

  &:hover {
    transition: ease 0.3s;
    background-color: #1d1d1d;
  }

}

@import "media-desktop";
@import "media-mobile";